div {
  width: 100px;
  height: 100px;
  margin: 50px;
  background-color: lightpink;
  border: 10px solid deepskyblue;
  outline: 5px solid gold;
}

.box-1 {
  outline-offset: 0;
}

.box-2 {
  outline-offset: 10px;
}

.box-3 {
  outline-offset: -10px;
}