div {
  width: 200px;
  height: 200px;
}

.box-1 {
  margin: 30px;
  background-color: lightgreen;
}

.box-2 {
  margin: 30px 100px;
  background-color: lightgrey;
}

.box-3 {
  margin: 30px 100px 40px;
  background-color: lightgreen;
}

.box-4 {
  margin: 30px 40px 50px 60px;
  background-color: lightgrey;
}

.box-5 {
  margin-left: 30px;
  background-color: lightgreen;
}

.box-6 {
  margin-right: 30px;
  background-color: lightgrey;
}

.box-7 {
  margin-top: 30px;
  background-color: lightgreen;
}

.box-8 {
  margin-bottom: 30px;
  background-color: lightgrey;
}

.box-9 {
  margin-inline: 30px;
  background-color: lightgreen;
}

.box-10 {
  margin-block: 30px;
  background-color: lightgrey;
}

.wrapper {
  width: 300px;
  border: 2px dashed black;
  margin-bottom: 30px;
}

.box {
  width: 200px;
  height: 200px;
  margin-inline: auto;
  background-color: lightgreen;
}

.box-11 {
  background-color: lightgrey;
  border: 3px dashed red;
}

.box-12 {
  background-color: lightgreen;
  margin-top: -50px;
  border: 3px dashed red;
}