body {
  font-family: Arial, sans-serif;
}

div {
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.box-1 {
  background-color: cornflowerblue;
  position: static;
}

.box-2 {
  background-color: lightpink;
  position: relative;
  top: 50px;
  left: 100px;
}

.box-3 {
  background-color: palegreen;
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 250px;
}

.box-4 {
  background-color: indianred;
  position: fixed;
  top: 290px;
  left: 290px;
}

.box-5 {
  background-color: goldenrod;
  position: sticky;
  top: 0;
  left: 20px;
}