body {
  font-family: Arial, sans-serif
}

.emoji-pseudo::before {
  content: "👉";
}

.emoji-pseudo::after {
  content: "👈";
}

.gray-box-pseudo {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: lightskyblue;
}

.gray-box-pseudo::after {
  content: "";
  position: absolute;
  left: 90%;
  top: 10px;
  width: 100%;
  height: 100%;
  background-color: darkgray;
}

.image-pseudo::after {
  content: url("../../static/images/img.png");
}

.attr-pseudo::after {
  content: attr(data-example);
  color: red;
}

.quote-pseudo::before {
  content: open-quote;
}

/* 
Пример с кружком в смене темы, 
который стоит за солнцем и луной 
(проще добавить через псевдолемент, чем через новый div)
*/