body {
  font-family: Arial, sans-serif;
}

.flex-container {
  gap: 10px;
  padding: 10px;
  background-color: lightskyblue;
  display: flex;
}

.flex-element {
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  /* 
    Значение по умолчанию:
    flex: 0 1 auto;
  */
}

.fixed-sizes {
  flex: 0 0 50%;
}