body {
  font-family: Arial, sans-serif;
}

.flex-container,
.inline-flex-container {
  column-gap: 10px;
  padding: 10px;
  background-color: lightskyblue;
}

.flex-container {
  display: flex;
}

.inline-flex-container {
  display: inline-flex;
}

.flex-element {
  background-color: lightgreen;
  padding: 10px;
}