body {
  font-family: Arial, sans-serif;
}

.flex-container {
  gap: 10px;
  padding: 10px;
  background-color: lightskyblue;
  display: flex;
}

.flex-element {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  flex-basis: 100px;
}

.flex-direction-column {
  flex-direction: column;
}