body {
  font-family: Arial, sans-serif;
}

div {
  width: 500px;
  height: 500px;
  padding: 50px;
  color: indigo;
  border: 20px dashed salmon;

  background-image: url('../../static/images/meepo.png');
  background-position: center;
  background-size: cover;
}

.box-1 {
  background-clip: border-box;
}

.box-2 {
  background-clip: padding-box;
}

.box-3 {
  background-clip: content-box;
}

.box-4 {
  color: transparent;
  background-clip: text;

  /* 
    Раньше (с вендерным префиксом)
    -webkit-background-clip: text;
  */
}