div {
  width: 100px;
  height: 100px;
  background-color: lightpink;
  margin: 50px;
}

.box-1 {
  border-radius: 15px;
}

.box-2 {
  border-radius: 0 30px 80% 30px;
}

.box-3 {
  border-radius: 50%;
}

.box-4 {
  border-radius: 60% 20% / 10% 50%;

  /* 
    Отдельными свойствами:
    border-top-left-radius: 60% 10%;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 60% 10%;
    border-bottom-left-radius: 20% 50%;
  */
}

/* https://9elements.github.io/fancy-border-radius/ */