body {
  font-family: Arial, sans-serif;
}

.flex-container {
  padding: 10px;
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: lightgreen;
  border: 2px solid;
}

.gap-50 {
  gap: 50px 50px;
}

.column-gap-50 {
  column-gap: 50px;
}

.row-gap-50 {
  row-gap: 50px;
}