body {
  font-family: Arial, sans-serif;
}

.flex-container {
  padding: 10px;
  background-color: lightskyblue;
  display: flex;
  gap: 10px;
}

.flex-element {
  width: 100px;
  padding: 10px;
  background-color: lightgreen;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-baseline {
  align-items: baseline;
}