/* Селектор по классу */

.my-super-text {
  color: gold;
  font-size: 22px;
}

.not-super-text {
  color: grey;
}

.big {
  font-size: 24px;
}

.small {
  font-size: 10px;
}

.blue {
  color: deepskyblue;
}

.red {
  color: indianred;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
}