body {
  font-family: Arial, sans-serif;
  width: 600px;
}

.flex-container {
  gap: 10px;
  height: 400px;
  padding: 10px;
  background-color: lightskyblue;
  display: flex;
}

.flex-element {
  width: 300px;
  height: 100px;
  padding: 10px;
  background-color: lightgreen;
  /* 
    Значение по умолчанию:
    flex-shrink: 1;
  */
}

.narrow {
  flex-shrink: 2;
}

.real-size {
  flex-shrink: 0;
}