.box {
  width: 200px;
  height: 200px;
  background-color: moccasin
}

/* Внутренние отступы */
/* Прибавляется к размеру */
/* Включен в блочную модель */

.box {
  padding: 15px 40px;
}

/* Рамка */
/* Прибавляется к размеру */
/* Включен в блочную модель */

.box {
  border: 10px solid red;
}

/* Внешние отступы */
/* Не прибавляется к размеру */
/* Включен в блочную модель */

.box {
  margin: 50px;
}